body, html{
    	margin:0px;
	padding: 0px;
}

img{
    display:block;
    margin:auto;   
}

.shadowBox{
	width: 100%;
	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin-bottom: 25px;
}

.picContain{
	position:relative;
}
.bottomCenterHead{
	position:absolute;
	bottom:.5%;
	left:32.5%;
	font-size:1em;
	color:white;
}
.picContainActive{
	position:relative;
	margin:0% 15%;
	width:70%;
}

.imageFadeWText{
	opacity: 1;
  	display: block;
  	width: 100%;
  	height: auto;
  	transition: .3s ease;
  	backface-visibility: hidden;
}

.textTrans {
	transition: .3s ease;
  	opacity: 0;
  	position: absolute;
  	bottom: 0%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%)
}

.picContainActive:hover .imageFadeWText {
	opacity: 0.3;
}

.picContainActive:hover .textTrans {
	opacity: 1.0;
}

.home{  
	width:100%;
	border-radius: 0 10% 10% 0;
}

blockquote.home_oppo{
	background-color:rgba(170,149,166,.7); 
	margin:10% 0% 2.5% 0%; 
	padding-top:5%;
	padding-bottom:5%;
}

.back{
	background-image: linear-gradient(180deg, rgb(20,45,70), rgb(184,211,222));
	background-size:100%;
	/*background-repeat:no-repeat;
	background-position: top;*/
}

h1 {
	margin: 0%;
    	font-size: 3.75em;
	letter-spacing:.4em;
   	font-family:'Georgia, serif', 'Palatino';
    	text-align: center;
}

small.subHead{
	margin: 0%;
	padding-top:1.25%;
	border-top: solid;
	text-align: center;
	font-family:'Georgia, serif', 'Palatino';
	font-size: .75em;
	letter-spacing:.25em;
	padding: 0% 0% 2.5% 0%;
}

h3{
	margin:0%;
	text-align:center;
	font-size:2.75em;
	font-family:'Georgia, serif', 'Palatino';
}

p {
    font-size: 1.35em;
    font-family:'Optima', 'Palatino';
    line-height: 1.2em;
    margin:auto;
    text-align:center;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .7em;
}

.button {
	min-width:60px;
	max-width:120px;
	text-decoration:none;
	display:inline-block;
	outline:none;
	cursor: pointer;
	border-style:none;
	border-radius:50%;
	padding:5%;
	overflow:none;
	text-align:center;
	font-size: 1.25em;
	opacity:.85;
	transition:.3s;
  	margin: 25%;
}

.button:before {
  content:'';
  display:inline-block;
  vertical-align:middle;
  padding-top:100%;
}

span {
  display:inline-block;
  vertical-align:middle;
  max-width:90%;
}
.b1 {
	background-color:rgb(42,94,155);
	color:white;
	width:50%;
	box-sizing:border-box;
}

.b1:hover{
	opacity:1;
}

.b2 {
	background-color:rgb(225,194,174);
	color: rgb(42,94,155);
	width:50%;
	box-sizing:border-box;
}

.b2:hover{
	opacity:1;
}
.b3 {
	background-color:rgb(184,211,222);
	color:black;
	width:50%;
	box-sizing:border-box;
}

.b3:hover{
	opacity:1;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.25em;
}

ul.posts li {
    list-style: none;
}

.column.left {
	float:left;
	width:40%;
}

.column.right{
	float:right;
	width:60%;
}

.column.65left {
	float:left;
	width:65%;
}

.column.35right{
	float:right;
	width:35%;
}

.column{
	display:inline-block;
	float:left;
	width: 50%;
}
.column.mini{
	float:left;
	width:33.33%;
}

.row::after {
	content: "";
    	display: table;
  	clear: both;
}

/* adjusting dynamic positiong to width of iphone12 max basically */ 
@media screen and (max-width: 1300px) {
	.column {width:100%;}
	.column.right {float: left; width:100%;}
	.column.left {float:left; width:100%;} 
	img.home {border-radius:0%; object-fit:cover;}
	.shadowBox{border-radius:0%;width:90%; object-position:50% 50%;}
	blockquote.home_oppo {border-radius:0%; margin:2.5% 0% 0% 0%;}
}

/*nav ul {
	background-color:rgba(255,255,255,0)
    	font-family:'Helvetica', 'Arial', 'Sans-Serif';
    	padding: 2.5%;
	margin: auto;
    	list-style: none;
	font-weight: bold;
    	text-align: right;
}

nav ul li {
    	display: inline;
    	margin-right: 2.5%;
}

li a:link {
	color: rgb(20,45,70);
	text-decoration:none;
	font-size: 1.5em;
}
	
li a:hover {
    text-decoration: underline;
}*/
