body, html{
    	margin:0px;
	padding: 0px;
}

img{
    display:block;
    margin:auto;   
}

.home{  
	padding: 5% 5% 0% 5%; 
	border-radius: 0 15% 15% 0;
}

blockquote.home_oppo{
	background-color:rgba(170,149,166,.75); 
	border-radius: 50% 0% 50% 0%;
	margin-top:5%; 
	padding-top:5%;
	padding-bottom:5%;
}

.back{
	background-image: url("https://leemlb06pmi.github.io/photos/beach.jpg");
	background-size: cover;
}

nav ul {
	background-color:rgba(255,255,255,0)
	/*background-color:rgba(42,94,155,0.5);*/
    	font-family:'Helvetica', 'Arial', 'Sans-Serif';
    	padding: 2.5%;
	margin: auto;
    	list-style: none;
	font-weight: bold;
    	text-align: right;
}

nav ul li {
    	display: inline;
    	margin-right: 2.5%;
}

li a:link {
	color: rgb(20,45,70);
	text-decoration:none;
	font-size: 1.5em;
}
	
li a:hover {
    text-decoration: underline;
	
}
h1 {
	margin:0;
    	font-size: 2.75em;
   	font-family:'Palatino', 'Helvetica', 'Sans-Serif';
    	text-align: center;
}
p {
    font-size: 1.25em;
    font-family:'Palatino', 'Helvetica', 'Sans-Serif';
    line-height: 1.2em;
    color: #333;
    margin:auto;
    text-align:center;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .7em;
}

.button {
	min-width:60px;
	max-width:120px;
	text-decoration:none;
	display:inline-block;
	outline:none;
	cursor: pointer;
	border-style:none;
	border-radius:50%;
	padding:5%;
	overflow:none;
	text-align:center;
	font-size: 1.25em;
	opacity:.8;
	transition:.3s;
  	margin: 25%;
}

.button:before {
  content:'';
  display:inline-block;
  vertical-align:middle;
  padding-top:100%;
}

span {
  display:inline-block;
  vertical-align:middle;
  max-width:90%;
}
.b1 {
	background-color:rgb(42,94,155);
	color:white;
	width:50%;
	box-sizing:border-box;
}

.b1:hover{
	opacity:1;
}

.b2 {
	background-color:rgb(225,194,174);
	color: rgb(42,94,155);
	width:50%;
	box-sizing:border-box;
}

.b2:hover{
	opacity:1;
}
.b3 {
	background-color:rgb(184,211,222);
	color:black;
	width:50%;
	box-sizing:border-box;
}

.b3:hover{
	opacity:1;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.25em;
}

ul.posts li {
    list-style: none;
}

.column.left {
	float:left;
	width:40%;
}

.column.right{
	float:right;
	width:60%;
}

.column{
	float:left;
	width: 50%;
}
.column.mini{
	float:left;
	width:33.33%;
}

.row::after {
	content: "";
    	display: table;
  	clear: both;
}

/* adjusting dynamic positiong to width of iphone12 max basically */ 
@media screen and (max-width: 130px) {
	.column {width:100%;}
	.column.right {float: left; width:100%;}
	.column.left {float:left; width:100%;} 
	img.home {border-radius:0%; object-fit:cover; width:90%; object-position:50% 50%;}
	blockquote.home_oppo {border-radius:0%; margin-top:0%;}
}
