<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/bio">Biography</a></li>
				<li><a href="/pictures">Pictures</a></li>
	        		<li><a href="/media">Media</a></li>
	        		<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			</div>
			<div class="container">
			
			{{ content }}
		
		</body>
	</html>
