<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div style="background-color:rgb(218,222,226);">
				<h1 style="padding:1.5%;text-decoration:underline black solid 5%;">
					Miles Herr
					<br>
					<small class="subHead">
					Tenor 
					</small>
				</h1
			<!--
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/bio">Biography</a></li>
				<li><a href="/pictures">Pictures</a></li>
	        		<li><a href="/media">Media</a></li>
	        		<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			-->

			</div>
			<div class="container">
			
			{{ content }}
		
		</body>
	</html>
